export JWT_SECRET="eGzQ9ZQzuU6CVaqHLA9KwDT9e8pDEbCF"
export BASE_URL="http://localhost:3001"
export BSKY_USERNAME="alexn.org"
export BSKY_PASSWORD="wiwc-qpby-6moi-fih7"
export MASTODON_HOST="https://social.alexn.org"
export MASTODON_ACCESS_TOKEN="T5X1u9zzhg5jDN8v6mRRIhlRJiEPFwmjO42o6c1RZ-E"
export SERVER_AUTH_USERNAME="alex"
export SERVER_AUTH_PASSWORD="pass"
export DB_PATH="/tmp/social-publish.db"
export UPLOADED_FILES_PATH="/tmp/social-files"
