# Logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.envrc

# Kotlin/Gradle
.kotlin
.gradle/
**/build/
kotlin-js-store/
!kotlin-js-store/yarn.lock
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.nar
hs_err_pid*

# Kover coverage reports
.kover/

# Local development junk
var/
