body {
    font-family: Arial, sans-serif;
}

form {
    width: 100%;
    max-width: 500px;
}

form input[type=link], form textarea {
    width: 100%;
}

form div.chars-left {
    font-size: 0.8em;
    color: #666;
}

form .field label {
    display: block;
}

form input:invalid, form textarea:invalid {
    border: 1px dashed darkred;
}
