name: build
on:
  push:
    branches:
      - main
      - scala3
  pull_request:
    branches:
      - main
      - scala3

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'

      - name: Build
        run: npm run build
