name: deploy
on:
  workflow_dispatch:

jobs:
  build_jvm_matrix:
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-24.04
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push JVM Docker image for ${{ matrix.platform }}
        run: |
          make docker-push-jvm-platform PLATFORM=${{ matrix.platform }}
        env:
          GIT_TAG: ${{ github.ref }}

  create_jvm_manifest:
    needs: build_jvm_matrix
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and Push JVM multi-platform manifest
        run: |
          make docker-push-jvm-manifest
        env:
          GIT_TAG: ${{ github.ref }}
